

.swiper-slide img {
    width:100%;
    z-index:1;
}

/* categorias */

.category-container img {
    width:85px;
    height:auto;
}
.category-container {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding:10px;
    border:1px solid var(--white);
}

.category-container b {
    margin-top:10px;
}
.category-container {
    cursor:pointer;
}



.swiper-container {
    width: 100%; 
}
  @media all and (max-width: 768px) {
    .swiper-container {
      max-width: 600px; 
      margin: 0 auto;
    }
  }