

.swiper-slide img {
    width:100%;
    z-index:1;
}





.swiper-container {
    width: 100%; 
}
  @media all and (max-width: 768px) {
    .swiper-container {
      max-width: 600px; 
      margin: 0 auto;
    }
  }